# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# MacOS
.DS_Store

# Video Processing Outputs
scaler_videos/
output/
*.mp4
*.ts
*.mkv
*.wav
concat.txt

# Large model files
*.pt
*.bin
*.onnx

# IDE
.vscode/
.idea/

logs.txt
*.pdf
